<div *ngIf="ivrItem" class="wrapper">
  <h2>IVR Menu Details #{{ ivrItem.id }}</h2>

  <div class="details">
    <ul class="details__list">
      <li class="details__item">
        Name:
        <p>{{ ivrItem.name }}</p>
      </li>
      <li class="details__item">
        Description:
        <p>{{ ivrItem.description || "none" }}</p>
      </li>
      <li class="details__item">
        Announcement:
        <p>{{ ivrItem.announcement || "not selected" }}</p>
      </li>
      <li class="details__item">
        Timeout:
        <p>{{ ivrItem.timeout }}</p>
      </li>
      <li class="details__item">
        Invalid Retries:
        <p>{{ ivrItem.invalidRetries }}</p>
      </li>
    </ul>

    <h3>Buttons</h3>
    <ul class="button-data__list">
      <li
        class="button-data__item"
        *ngFor="let button of ivrItem.ivrEntityList"
      >
        <div>
          Button:
          <p>{{ button.name }}</p>
        </div>
        <div>
          Action:
          <p>{{ button.matchedAction }}</p>
        </div>
        <div>
          Data:
          <p>{{ button.matchedData }}</p>
        </div>
        <div>
          Status:
          <p>{{ button.leadStatus }}</p>
        </div>
        <div>
          ID:
          <p>{{ button.id }}</p>
        </div>
        <div>
          IVR menu ID:
          <p>{{ button.ivrId }}</p>
        </div>
      </li>
    </ul>
  </div>

  <app-home-btn></app-home-btn>
</div>
