.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0 10px;
}

.create-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.title {
  padding: 20px 10px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
