<h2 class="ivr__title">Create IVR</h2>

<form class="ivr__form" [formGroup]="ivrForm">
  <div class="ivr__input">
    <h3 class="ivr__subtitle">IVR name</h3>
    <mat-form-field class="ivr__form-field">
      <mat-label>Type name of IVR...</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
  </div>

  <div class="ivr__input">
    <h3 class="ivr__subtitle">Announcement</h3>
    <mat-form-field class="ivr__form-field">
      <mat-label>Choose the audiofile...</mat-label>
      <mat-select formControlName="announcement">
        <mat-option value="audiofile1.wav"> Audio 1 </mat-option>
        <mat-option value="audiofile2.wav"> Audio 2 </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="ivr__select">
    <h3 class="ivr__subtitle">Description</h3>
    <mat-form-field class="ivr__form-field">
      <input formControlName="description" matInput />
    </mat-form-field>
  </div>

  <div class="ivr__input">
    <h3 class="ivr__subtitle">Timeout</h3>
    <mat-form-field class="ivr__form-field">
      <input formControlName="timeout" matInput />
    </mat-form-field>
  </div>

  <div class="ivr__input">
    <h3 class="ivr__subtitle">Failed attempts</h3>
    <mat-form-field class="ivr__form-field">
      <input formControlName="invalidRetries" matInput />
    </mat-form-field>
  </div>
</form>

<div class="ivr__next-btn">
  <app-home-btn></app-home-btn>
  <app-router-btn
    text="Next Step"
    (click)="submitForm()"
    [disStatus]="nextBtnDisabled"
    route="/actions-page"
  ></app-router-btn>
</div>
