.ivr {
  &__form {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 2%;
  }

  &__input,
  &__select {
    min-width: 100%;
  }

  &__input {
    &:nth-last-child(-n + 2) {
      min-width: 49%;
      max-width: 49%;
    }
  }

  &__title {
    padding: 20px 10px;
  }

  &__subtitle {
    padding: 10px 0;
  }

  &__form-field {
    width: 100%;
  }

  &__next-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .ivr {
    &__input {
      &:nth-last-child(-n + 2) {
        min-width: 100%;
        max-width: none;
      }

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          grid-area: input-#{$i};
        }
      }
    }

    &__select {
      grid-area: select;
    }

    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "input-1 input-2"
        "select select"
        "input-3 input-4";
      gap: 20px 50px;
    }
  }
}
